@model IEnumerable<ListAppointmentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-5">
    <div class="card-header">
        Randevularım
        @if (User.IsInRole("Patient") && User.Identity.IsAuthenticated)
        {
            <button type="button" class="btn btn-outline-info btn-lg px-3 float-end" data-bs-toggle="modal" data-bs-target="#appointmentModal">
                Randevu Al
            </button>
        }
    </div>

    <div class="mt-4 row card-body ">

        <div class="col-md-12">
            @if (Model != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Tarih</th>
                            <th scope="col">Doktor</th>
                            <th scope="col">Poliklinik</th>
                            <th scope="col">Hastane</th>
                            <th scope="col">Aktif randevu mu?</th>
                            <th scope="col">İşlemler</th>

                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Date.ToLocalTime()</th>
                                <td>@item.UserName</td>
                                <td>@item.PoliclinicName</td>
                                <td>@item.HospitalName</td>                               
                                @if (item.IsActive == true)
                                {
                                    <td><span class="badge bg-success">Aktif Randevu</span></td>
                                    <td>
                                        @if (User.IsInRole("Patient") && User.Identity.IsAuthenticated)
                                        {<a asp-action="CancelAppointment" asp-controller="Appointment" asp-route-id="@item.Id" class="btn btn-danger">İptal Et</a>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td><span class="badge bg-danger">İptal Edildi</span></td>
                                    <td></td>
                                }

                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>Randevunuz bulunmamaktadır</p>
            }
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade " id="appointmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Randevu Al</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mt-10">
                        <label class="float-left">Hastane Seçiniz</label>
                        <select class="form-select wide" onchange="hospitalChange()" id="hospitalId" asp-items="@ViewBag.Hospitals">
                        </select>
                    </div>
                    <div class="mt-10">
                        <label class="float-left">Poliklinik Seçiniz</label>
                        <select disabled class="form-select wide" onchange="policlinicChange()" id="policlinicId">
                        </select>
                    </div>
                    <div class="mt-10">
                        <label class="float-left">DoKtor Seçiniz</label>
                        <select disabled class="form-select wide" id="doctorId">
                        </select>
                    </div>
                    <div class="mt-10">
                        <label class="float-left">Randevu Tarihi Seçiniz</label>
                        <input type="datetime-local" id="date" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" onclick="takeAnAppoinment()" class="btn btn-primary">Randevu Al</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //hastane seçimine göre poliklinik getirme
        function hospitalChange() {

            var id = document.getElementById("hospitalId").value;
            if (id > 0) {
                $.ajax({
                    method: "GET",
                    url: "/Appointment/PoliclinicList/" + id,
                }).done(function (content) {
                    $("#policlinicId").attr("disabled", false);
                    $("#policlinicId").removeClass("text-muted");
                    $("#policlinicId").empty();
                    $("#policlinicId").append('<option value="-1">Poliklinik Seçiniz</option>');

                    let policlinic = JSON.parse(content);
                    for (var i = 0; i < policlinic.length; i++) {
                        var opt = '<option value="' + policlinic[i].Id + '">' + policlinic[i].Name + '</option>';
                        $("#policlinicId").append(opt);
                    }
                }).fail(function (error) {

                });
            } else {
                $("#doctorId").empty();
                $("#doctorId").append('<option value="-1">Doktor Seçiniz</option>');
                $("#doctorId").attr("disabled", true);
                $("#doctorId").addClass("text-muted");
            }
        }
        //poliklinik seçimine göre doktor getirme
        function policlinicChange() {
            var id = document.getElementById("policlinicId").value;
            if (id > 0) {
                $.ajax({
                    method: "GET",
                    url: "/Appointment/DoctorList/" + id,
                }).done(function (content) {
                    $("#doctorId").attr("disabled", false);
                    $("#doctorId").removeClass("text-muted");
                    $("#doctorId").empty();
                    $("#doctorId").append('<option value="-1">Doktor Seçiniz</option>');

                    let doctor = JSON.parse(content);
                    for (var i = 0; i < doctor.length; i++) {
                        var opt = '<option value="' + doctor[i].Id + '">' + doctor[i].Name + ' ' + doctor[i].Surname + '</option>';
                        $("#doctorId").append(opt);
                    }
                }).fail(function (error) {

                });
            } else {
                $("#doctorId").empty();
                $("#doctorId").append('<option value="-1">Doktor Seçiniz</option>');
                $("#doctorId").attr("disabled", true);
                $("#doctorId").addClass("text-muted");
            }
        }
        //randevu alma
        function takeAnAppoinment() {
            var formData = {
                hospitalId: $("#hospitalId").val(),
                policlinicId: $("#policlinicId").val(),
                doctorId: $("#doctorId").val(),
                date: $("#date").val(),
            };
            $.ajax({
                method: 'POST',
                url: '/Appointment/TakeAnAppointment/',
                data: formData
            }).done(function (data) {
                if (data == "true") {
                    alertify.success("Kaydınız başarıyla oluşturuldu");
                }
                else {
                    alertify.success("Kaydınız başarısız lütfen tekrar deneyin");
                }
            })
        }

    </script>

}