@model IEnumerable<ListAppointmentDto>
@{
    ViewData["Title"] = "PatientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5">
    <div class="card-header">
        Hasta Randevuları
    </div>

    <div class="mt-4 row card-body ">

        <div class="col-md-12">
            @if (Model != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Tarih</th>
                            <th scope="col">Hasta</th>
                            <th scope="col">Poliklinik</th>
                            <th scope="col">Hastane</th>
                            <th scope="col">Aktif randevu mu?</th>
                            <th scope="col">İşlemler</th>

                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">@item.Date.ToLocalTime()</th>
                            <td>@item.UserName</td>
                            <td>@item.PoliclinicName</td>
                            <td>@item.HospitalName</td>
                            @if (item.IsActive == true)
                            {
                                <td><span class="badge bg-success">Aktif Randevu</span></td>
                                <td><a asp-action="Index" asp-controller="Prescription" asp-route-id="@item.Id" class="btn btn-info">Reçete</a></td>
                            }
                            else
                            {
                                <td><span class="badge bg-danger">İptal Edildi</span></td>
                                <td></td>
                            }

                        </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>Randevunuz bulunmamaktadır</p>
            }
        </div>
    </div>

</div>

